<%- include('header'); -%>

  <p>Välkommen till farstas filmklubb! Här samlas olika filmsentusiaster för att gemensamt registrera sig för att få en större inblick i olika typer av statistik. Sign up today!</p>
  
  <%- include('footer'); -%>